<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #ffffff;
            text-align: center;
            margin: 50px;
        }

        p {
            color: #333;
            margin-top: 20px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" id="logo">


    <p>
        <a href="{{ url_for('login') }}">Login</a>
        or
        <a href="{{ url_for('register') }}">Register</a>
    </p>
</body>
</html>
